$orange: #f8ba00;
$grey: #000000;
$yellowbackground: rgba(241, 196, 15, 0.65);

/*--------------GLOBAL STYLE-------------*/

.back1 {
  background-image: url(https://ak6.picdn.net/shutterstock/videos/13632746/thumb/10.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.back2 {
  background-image: url(http://img1.imagilive.com/0917/burger-2667443.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

}
.back3 {
  background-image: url(http://img1.imagilive.com/0917/snack-2635035_1920.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

}

p{
  font-weight: bold;
  display: inline;
}



h1 {
  font-family: 'Shadows Into Light Two', cursive;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 3em;
}

h2, h3 {
  font-family: 'Shadows Into Light Two', cursive;
  color: $orange;
  font-weight: bold;

}
h4{
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: bold;
  margin:0px;
  font-size: 1.5em;
}

h5{
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: bold;
  margin:0px;
  font-size: 1.2em;
  font-style: italic;
}

.blockTop {
  margin-top: 80px;
  min-height: 600px;
}

.equipe {
  margin-top: 100px;
}

#logo-flag {
  width: 100%;
}

.yellow-opaque {
  background-color: $orange;
  padding: 20px;
}

.yellow {
  background-color: $yellowbackground;
  padding: 20px;
}

.white {
  background-color: rgba(255, 255, 255, 0.77);
  padding: 20px;
  }

/*--------------CAROUSSEL-------------*/
.carousel {
  width: 100%;
  background-color: white;

  .item {
    width: 100%;
    height: 360px;
    #logo{
      margin: auto;
      max-height: 360px;
    }
    .large {
     width: 100%;
      max-height: 360px;
    }
  }
}

/*--------------NAV BAR-------------*/

.navbar-inverse {
  .navbar-nav {
    li {
      a {
        color: #ffffff;
        font-family: 'Shadows Into Light Two', cursive;
        font-size: 1.5em;
      }
      a:hover {
        color: $orange;
      }
    }
  }
  .navbar-brand {
    width: 65px;
    padding: 0px;
  }
}

/*--------------RESTAURANTS-------------*/
.thumbnail {
  width: 190px;
  height: 190px;
  .imgRestaurant {
    max-height: 90px;
    text-align: center;
  }
}

aside{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*--------------BURGER-------------*/

.photos{
  text-align: center;
  h2{
    width: 100%;
    height: 90px;
  }
}

.title-white{
  font-family: 'Shadows Into Light Two', cursive;
  color: white;
  font-weight: bold;

}

.title-black{
  color: black;
}


.text-white{
  color: black;
  font-weight: bold;
}
/*--------------EQUIPE-------------*/
.img-circle{
  margin-bottom: 10px;
}

/*--------------FAQ-------------*/

.message-de-bug-burger{
  margin-top:30px;
  font-size: 1.3em;
  text-align: center;
}


/*--------------FOOTER-------------*/

footer {
  background-color: black;
  text-align: center;
  #copyright {
    color: $orange;
    margin: 25px;
    padding: 25px;
    p{
      font-weight: normal;

    }
    a{
      text-decoration: none;
      color: $orange;
    }
    }
}

/*--------------FORM-------------*/

.form-groupe {
  margin: auto;
  width: 600px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
   div {
     margin-top: 50px;
  }

}

label {
  font: 1em serif;
  display: inline-block;
  width: 80px;
  text-align: right;
}

input, textarea {
  font: 0.8em serif;
  width: 400px;
  border: 1px solid #CCCCCC;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 100px;
  resize: vertical;
}

.button {
  padding-left: 90px;
}

/*--------------MENTIONS LEGALES-------------*/

.mention-legales {
  padding: 20px;
  h1{
    color: $orange;
  }
}