$orange: #f8ba00;
$grey: #000000;


h1, h4{
  font-family: 'Lobster', cursive;
}

.blockTop{
  margin-top: 100px;
  min-height: 600px;
}

#logo-flag {
  margin-top:70px;
  width: 100%;
}

.navbar-inverse {
  .navbar-nav {
    li {
      a {
        color: #ffffff;
      }
    }
  }
  .navbar-brand {
    width: 65px;
    padding: 0px;
  }
}
/*--------------RESTAURANTS-------------*/

.imgRestaurant {
  width: 180px;
  height: 90px;
}


/*--------------FOOTER-------------*/

#copyright {
  background-color: $orange;
    footer {
      display: flex;
      justify-content: center;
      height: 50px;
      margin: Opx;
         img {
          width: 50px;
    }
  }
}






/*--------------FORM-------------*/

.form-groupe{
  margin: auto;
  width: 600px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  div {
    margin-top: 50px;
  }
  .intro-form{
    margin-left:20%;
  }

}

label {
  font: 1em serif;
  display: inline-block;
  width: 80px;
  text-align: right;
}

input, textarea {
  font: 0.8em serif;
  width: 400px;
  border: 1px solid #CCCCCC;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 100px;
  resize: vertical;
}

.button {

  padding-left: 90px;
}

